# removing spaces fom string

strip()---->remove the spaces from both sides of string

rstrip()---->remove the spaces from right side of the string

lstrip()---->remove the spaces from left side of the string

In [1]:
s=input("enter the string")
print(s)
s1=s.strip()
print(s1)

enter the stringshaik jaina
shaik jaina
shaik jaina

In [3]:
s=input("enter string:")
print(s)
if s=="shaikjaina":
    print("spaces removed")
else:
    print("please remove the spaces")
    s1=s.strip()
    if s1=="shaikjaina":
        print("spaces are removed by strip")

enter string:  shaikjaina
  shaikjaina
please remove the spaces
spaces are removed by strip

# finding substring

for forward directon:
    1.find()
    2.index()
for backwadr directio:
    1.rfind()
    2.index()

1.find()
syntax:
    s.find(substring)
*returns index of the first occurance of the given substring in main string , if not found return -1.

In [1]:
z="hello shaik jaina , how are you?"
print(z.find("jaina"))

12

>string name.find(substring,start index,end index)

In [2]:
s="hello,hai,how are you"
print(s.find("a",1,10))

7

2.index()
This is same as find method except that if the substring is  not found it will give value error

In [3]:
s="hello shaik jaina"
print(s.index("jaina"))

12

In [4]:
s="hello good morning"
print(s.index("jaina"))

ValueError: substring not found

# counting substring in main string

In [5]:
s="i come,we come,we go,you go"
print(s.count("go"))

2

# Replacing a string with another string

In [8]:
s="shaik john very bad boy"
s1=print(s.replace("bad","good"))
print(id(s))
print(id(s1))

shaik john very good boy
1917572668032
140724332370048

>once we creat a string object , we can't modify the content , because string is immutable object.even if we modify , instead of changing te content in original object , it creates new object.

# splitting of the string

In [9]:
s="jaina john ajju salma sunny"
print(s.split(" "))

['jaina', 'john', 'ajju', 'salma', 'sunny']

In [10]:
date="28/04/2021"
print(date.split("/"))

['28', '04', '2021']

# joining of strings

syntax:
    s=seperator.join(group of srings)

In [14]:
s=["shaik","jaina"]
s1=print("_".join(s))
print(s1)

shaik_jaina
None

In [16]:
s=["salma","sunny are sisters"]
print(" and ".join(s))

salma and sunny are sisters

# chaning case of strings

upper case:>>>To convert all characters to upper case

In [2]:
s="hello shaik jaina"
print(s.upper())

HELLO SHAIK JAINA

lower case:>>>to convert all characters to lower case

In [3]:
s="MY NAME IS SAIDULU SHAIK"
print(s.lower())

my name is saidulu shaik

swapcase:>>>converts upper to lower case and lower to upper case

In [5]:
s="Hello GOOD morning ajju"
print(s.swapcase())

hELLO good MORNING AJJU

In [6]:
s="i am sister of shaik johnpasha"
print(s.capitalize() )

I am sister of shaik johnpasha

In [7]:
s="wings of fire"
print(s.title())

Wings Of Fire

In [8]:
s="urgent calls only"
print(s.endswith("only"))

True

In [9]:
s="nothing but te best"
print(s.startswith("nothing"))

True

isalnum()

In [10]:
s="abdulkalam123"
print(s.isalnum())

True

In [12]:
s="shaikjaina@"
print(s.isalnum())

False

In [13]:
s="shaik jaina123"
print(s.isalnum())

False

In [14]:
s="hello everyone"
print(s.isalpha())

False

isdigit()

In [15]:
s="123"
print(s.isdigit())

True

In [23]:
s="123@"
print(s.isdigit())

False

islower()

In [16]:
s="jaina"
print(s.islower())

True

In [22]:
s="jaina123"
print(s.islower())

True

isupper()

In [17]:
s="SHAIKAJJU"
print(s.isupper())

True

In [21]:
s="SHAIKJAINA@"
print(s.isupper())

True

istitle()

In [18]:
s="All The Best"
print(s.istitle())

True

isspace()

In [19]:
s="    "
print(s.isspace())

True

In [20]:
s=" shaik "
print(s.isspace())

False

# formating the strings

In [24]:
name="jaina"
age=19
salary=10000
print("{}'s salary is {} and her age is {}".format(name,salary,age))

jaina's salary is 10000 and her age is 19

In [25]:
name="jaina"
age=19
salary=10000
print("{x}'s salary is {y} and her age is {z}".format(x=name,y=salary,z=age))

jaina's salary is 10000 and her age is 19

In [27]:
name="jaina"
age=19
salary=10000
print("{0}'s salary is {1} and her age is {2}".format(name,salary,age))

jaina's salary is 10000 and her age is 19